<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Workouts
    </ion-title>
    <ion-buttons slot="end" (click)="newWorkout()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of workoutService.workouts" (click)="onSelect(item)">
    <ion-card-header>
      <ion-icon name="time" slot="start"></ion-icon>
      ${{ item.time }} - {{ item.user }}
    </ion-card-header>
    <ion-card-content>
      {{ item.description }}
    </ion-card-content>
  </ion-card>
</ion-content>